<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
        <title>Nodegame</title>
    </head>
    <body>
        "Here are words!"
        


      <script src="./weekfiveproject/nodegame.js" type="javascript/text"></script>
    </body>
  </html>
