<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="nodegame.css" rel="stylesheet">
  <title>Nodegame</title>
</head>

<body>
  <header>
    The Node Game Page
    <br>
    <br>
    <input type="text" name="url">
  </header>
    <main>




  <p>Mystery Word </p>
    <div class="letters">

    {{#letters}}

    </div>
  <h3>No More Letters!</h3>
    {{/letters}}
</form>
  </main>
  <footer>
    copyright 2017
  </footer>

  <script type="text/javascript" src="nodegame.js"></script>
</body>

</html>
